@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
  
  // Style Organizer

  thead {
    display: flex;
}
tbody tr {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}
tfoot tr {
    display: flex;
    justify-content: space-between;
}
table {
    font-size: 1.2rem;
}
.main{
    height: 100vh;
    font-weight: 400;
    color: white;
    background-color: #2D2D2D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7%;
    h2{
        position: relative;
        top: 3%;
    }
    &__table {
        font-weight: 300;
        margin-top: 40px;
    }
    &__thead td {
        font-size: 1.2rem; 
    }

    &__tr {
        border-color: white !important;
        border-bottom-color: white !important;
        border-bottom: 2px solid white;
    }

    &__thead td:nth-child(1){
        text-align: left;
    }

    &__thead td:nth-child(2){
        text-align: center;
    }

    &__thead td:nth-child(3){
        text-align: right;
    }

    &__item {
        width: 190px;
    }

    &__square{
        position: absolute;
        left: 49%;
        cursor: pointer;
    }

    &__images{
        display: flex;
        justify-content: end;
    }
    &__tfoot{
        tr{
            padding: 5px;
        }
        img {
            cursor: pointer;
        }
     // Estilos para o input
     input {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #0C70F2;
        background-color: #3C3C3C;
        color: white;
        font-size: 1rem;
        width: 90%;
        transition: all 0.3s ease;
        
        &:focus {
            outline: none;
            border-color: #0C70F2;
            background-color: #444;
        }
    }

    // Estilos para o button
    button {
        padding: 5px 20px;
        border-radius: 5px;
        border: none;
        background-color: #0C70F2;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s ease;
        
        &:hover {
            background-color: #0C70F2;
        }

        &:focus {
            outline: none;
            background-color: #0C70F2;
        }
    }   
    }
}

// Style HeaderMenu

.header{
  background-color: #0C70F2;
  padding-top: 20px;
  padding-left: 30px;
  ul{
      display: flex;
      column-gap: 30px;
      color: #0C70F2;
      align-items: center;
  }
  li{
      list-style: none;
      font-size: 1.1rem;
      font-weight: 600;
  }
  li:nth-child(1){
      color: white;
  }  
  li:nth-child(2){
      padding: 5px 20px;
      background-color: white;
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
  }  
}


// Style CardMenu

.CardMenupen{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2D2D2D;
  text-decoration: none !important;
  > h2{
      margin: 70px 0;
      color: white;
  }
}
.Card{
  border-radius: 10px;
  width: 45vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  > h2 {
      justify-content: flex-start;
      margin-bottom: 20px;
  }
  > p{
      margin-bottom: 30px;
  }
  &__button {
      margin:0 8px;
      padding: 10px;
      border-radius: 10px;
      font-weight: 600;
      font-size: 1.1rem;
      cursor: pointer;
  }
  &__button--blue {
      width: 180px !important;
      background-color: #0C70F2;
      color: white;
      transition-duration: 0.5s;
      &:hover {
          transform: translateY(-5px);
          transition-duration: 0.5s;
      }
  }
  &__button--white {
      width: 200px;
      background-color: white;
      color: #2D2D2D;
      &:hover {
          transform: translateY(-5px);
          transition-duration: 0.5s;
      }
  } 
}
